<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${param.error}">
    <p style="color:red">Invalid username or password.</p>
</div>
<form th:action="@{/guest/login/check}" method="post">
    <label for="username">email:</label>
    <input type="username" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Login</button>
    <br>
</form>
<br>
</body>
</html>