<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h1>User Page</h1>
<table>
    <thead>
    <tr>
        <th>Role</th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${user.roles}"></td>
    <td th:text="${user.id}"></td>
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.email}"></td>
    <td>
    </tbody>
</table>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>

